#//////////////////////////
# NPM
#//////////////////////////
node_modules/
dist/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

#//////////////////////////
# Jest
#//////////////////////////
coverage/
test.env
